*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: peachpuff;
}
/* need to add img in background */
.header {
    padding: 30px;
    background-color: #034f75;
    color: violet;
}
.header h1 {
    display: inline-block;
    font-size: 48px;
}
.header h1 {
    color: goldenrod;
}
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.background{
    height: 800px;
    width: 100%;
    margin-bottom: 50px;
    background-image: url("../css/images/DandDtwo.jfif");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.About-Me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    color: magenta;
    }
.About-Me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.Work {
    margin: 0;
    padding: 50px;
    height: 300px;
       color: magenta;
       padding: 20px;
       text-align: left;
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 35px;
    background-color: aquamarine;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
    gap:40px;
}
.item-1{
grid-column: 1/ span 4;
grid-row: 1/ span 4;
background-image: url("../css/images/Run-Buddy.png");
}
.item-2{
    grid-row: 1/ span 4;
    grid-column: 5/ span 3;
    background-image: url("../css/images/calculator.jfif");
}
.item-3{
    grid-column: 8/ span 3;
    grid-row: 1/ span 4;
    background-image: url("../css/images/web-internet.jfif");
}
.item-4{
    grid-column: 1/ span 3;
    grid-row: 5/ span 4;
    background-image: url("./images/led-world.png");
}
.item-5{
    grid-column: 4/ span 3;
    grid-row: 5/ span 4;
    background-image: url("../css/images/games.jfif");
}
.p{
    text-align: left;
}

.Work h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.Contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
   background-color: #034f75;
    color: magenta;
}
.Contact-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

@media screen and (max-width: 700px) {
    *{
        background-color: black;
    }
    body {
        background-color: black;
    }
    h2 {
        color: teal;
        text-decoration-style: wavy;
    }
    p {
        color: rgb(255, 14, 14)
    }
}